td.pregunta{ 
    /*background: white url(../images/bg/pregunta.png) repeat-x bottom;*/
    border-bottom: 1px solid #959699; border-right: 1px solid #959699; border-left: 1px solid #959699; 
    padding: 5px 10px 2px 5px; text-align: right; font-weight: bolder;
    border-top: 1px solid #959699; color:#434343;
}
td.respuesta{
    background: #ffffff; 
    border-bottom: 1px solid #b4b4b4;border-left: 1px solid #b4b4b4; border-right: 1px solid #b4b4b4; border-top: 1px solid #b4b4b4;  
    padding: 5px 2px 2px 10px;
}
td.pregunta2,
th.pregunta2{ 
    background: white url(../images/bg/pregunta.png) repeat-x bottom;
    padding: 3px 7px;margin-right: 3px; 
    text-align: left; 
    border-bottom: 1px solid #d8dadd; 
    border-top: 1px solid #d8dadd; 
    font-weight: bold;
}

table.adminlist {	margin: 0px;	padding: 0px;	border-spacing: 0px;border: 0px solid #ddd;}
table.adminlist th {	margin: 0px;
	padding: 0px 4px 0px 4px;
	background: url(../images/tabla/bg01.png);
	height: 26px;
	font-size: 11px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #ffffff;
}