body{
	color: #2d2d2d;
	background: #ebebeb url(../images/bg/diamond_upholstery.png);
	font: normal 11px Arial;
	margin: 0;
	padding: 0;	
}
#errormsg{	 
	display: block;
	position: absolute;
	background: #fee1e1 url(../images/icon/warning.png) no-repeat left;
	background-position: 5px 3px;
	border: 1px solid #ff7575;
	width: 220px;
	margin-top: 190px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: 300px; 
	padding: 5px;
	filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;
	z-index: 99999px;
	text-align: center; color: #b22222;
	
	-webkit-box-shadow: 0px 2px 8px 0px #333333;
	-moz-box-shadow: 0px 2px 8px 0px #333333;
	box-shadow: 0px 2px 8px 0px #333333; 
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
}

form {  padding: 0;  margin: 0;}
body,td,th {font-family: Tahoma;font-size: 11px; color: #676767;}
div#IEM_HTML_Body{
	margin: 0;
	padding: 10px 30px 30px 30px;
}
#loginPage{ 
	width: 500px;
	height: 500px;
	border: 0px solid #f8f8f8;
	/*background: transparent url(../images/login/bg.png);
	*/
	margin-top: 50px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: auto;
	
}
#portada{
	border: 1px solid #7f624f; 
	background: transparent url(../images/portadaLogin.jpg);
	width: 550px; height: 360px;
	margin-top: 50px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: auto;
	
	-webkit-box-shadow: 0px 2px 8px 0px #333333;
	-moz-box-shadow: 0px 2px 8px 0px #333333;
	box-shadow: 0px 2px 8px 0px #333333; 
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px; 
	
}
#pie{ padding: 5px; color: #708090;
	text-align: center;
	width: 550px;
	margin-top: 0px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: auto; 
}

#pie a,#pie a:link{
	color: #708090;
}
#pie a:hover{
	color: #0b6cab;
}

#menusys{display: block;
	background: #e5dbd3;
	border: 1px solid #dddddd;
	width: 220px;
	margin-top: 20px; 
	margin-right: auto; 
	margin-bottom: 0px; 
	margin-left: 300px; 
	padding: 5px 5px 5px 5px;
	filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;
	z-index: 999999px;
	
	-webkit-box-shadow: 0px 2px 8px 0px #333333;
	-moz-box-shadow: 0px 2px 8px 0px #333333;
	box-shadow: 0px 2px 8px 0px #333333; 
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
}

.inputText{
	border: 1px solid #c2c2c2; width: 100px;font-family: tahoma; padding-left: 3px;
}
.boton{ color: #ebd23e; font-weight: bolder;
	font-size: 12px; 
	height: auto!important; 
	font-family: Arial; 
	background: #176394 url(../images/login/formboton.png) repeat-x bottom;
	border: 1px solid #1564af; 
	height: auto !important; 
	padding: 5px 10px;
	cursor: pointer;
	cursor: hand;
	
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; 
}